Notebook1_withsolutions.ipynb
Notebook2_withsolutions.ipynb
Notebook3_withsolutions.ipynb
Notebook4_withsolutions.ipynb
python_tutorial_with_astropy.ipynb
garbage.ipynb
data/kappa_2.fits
data/kappa.fits
data/potential.fits
data/macs1206.png
data/RGB_macs1206.fits